<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/crip-home/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="tahq69" />
            <add key="ClearTextPassword" value="${{ secrets.GITHUB_TOKEN }}" />
        </github>
    </packageSourceCredentials>
</configuration>